<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>

<h2>Login</h2>
<form th:action="@{/login}" th:object="${user}" method="post">

        <pre>

      <!-- <input type="hidden" name="id" th:field="*{id}">-->
        User Name: <input type="text" name="email" th:field="*{email}">
        Password: <input type="password" name="password" th:field="*{password}">
        <input type="submit" value="login">
            </pre>
</form>
<!--<h2 th:inline="text"> Hi [[${msg}]]</h2>-->

</body>
</html>